##Flutter
flutter_app/.idea
flutter_app/.dart_tool
flutter_app/.env
flutter_app/.flutter-plugins
flutter_app/.flutter-plugins-dependencies
flutter_app/flutter_app.iml
flutter_app/build
flutter_app/android/app/debug
flutter_app/android/app/profile
flutter_app/android/app/release

*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/
migrate_working_dir/

app.*.map.json
app.*.symbols


##NestJS
**/.env
nest_back/docker-compose.yml
nest_back/init-db.sh
nest_back/dist
**/README.md
nest_back/tsconfig.build.json
nest_back/tsconfig.json
nest_back/test
nest_back/.eslintrc.js
nest_back/.gitignore
nest_back/.prettierrc